<p>
  <strong>Name:</strong>
  <%= @todo.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @todo.description %>
</p>

<%= link_to 'Edit', edit_project_todo_path(@project, @todo) %> |
<%= link_to 'Back', project_todos_path(@project) %>
