<div class="notification">
<% if flash[:notice] %>
  <p class="alert alert-success" role="alert"><%= notice %></p>
<% elsif flash[:alert] %>
  <p class="alert alert-danger" role="alert"><%= alert %></p>
<% end %>
</div>
